.mv-bar.mv-ui {
	all: initial;
	visibility: inherit;
	display: flex;
	color: white;
	padding: 0 .5em 0 6em;
	background: url("http://mavo.io/logo.svg") .5em 50% / auto 50% no-repeat,
				linear-gradient(transparent, hsla(0,0%,15%,.5));
	background-color: hsla(0,0%,25%,.9);
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.5;

	a {
		text-decoration: none;
	}

	&.mv-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000; // this is wrong, but must override other wrong things :(
	}

	&:not(.mv-fixed) {
		border-radius: .3em;
		margin-bottom: 1em;
		box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset, 0 .1em .4em rgba(0, 0, 0, .3);
	}

	button, .mv-button {
		all: unset;
		font-weight: bold;
		cursor: pointer;

		&:enabled:hover {
			background: hsla(0,0%,100%,.2);
		}

		&:disabled {
			opacity: .6;
			cursor: not-allowed;
		}
	}

	& > button,
	& > .mv-button {
		padding: .3em .6em .4em;
		border: 0;

		&::before {
			display: inline-block;
			vertical-align: -.1em;
			margin-right: .3em;
			color: white;
			opacity: .5;
			font-weight: normal;
		}

		&:enabled:hover::before {
			opacity: .8;
		}
	}

	.mv-avatar {
		all: unset;
		display: inline-block;
		vertical-align: -.1em;
		max-height: 1em;
	}

	.mv-edit {
		&::before {
			content: "✎";
		}

		[mv-app][mv-mode="edit"] & {
			background: rgba(0,0,0,.6);
			box-shadow: .2em 0 .1em -.1em black inset, -.2em 0 .1em -.1em black inset;

			&::after {
				content: "ing";
			}
		}
	}

	.mv-save {
		&::before {
			content: "✓";
		}

		[mv-app][mv-progress="Saving"] & {
			color: hsla(0,0%,100%,.2);

			&::before {
				opacity: .2;
			}

			&::after {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				color: white;
				@extend %progress;
			}
		}

		&.mv-unsaved-changes {
			text-shadow: 0 0 .2em hsl(200, 100%, 70%), 0 0 .3em hsl(200, 100%, 70%);
		}

		&:hover {
			background: hsl(180, 50%, 50%);
		}
	}

	.mv-revert {
		&::before {
			content: "✘";
		}

		&:enabled:hover {
			background: #c50;
		}
	}

	.mv-clear {
		order: 9999;

		&::before {
			@extend %rubbish-bin;
			vertical-align: -.25em;
			width: .9em;
			filter: saturate(0) brightness(600%);
		}

		&:enabled:hover {
			background: #b00;
		}
	}

	.mv-status {
		flex: 1;
		line-height: 2.4;
		margin-top: auto;
		margin-bottom: auto;

		.mv-logout {
			vertical-align: .2em;
			border: 1px solid rgba(0,0,0,.4);
			border-radius: .3em;
			box-shadow: 0 1px hsla(0,0%,100%,.4) inset, 0 .1em .1em rgba(0,0,0,.3);
			padding: .1em .4em;
			margin: 0 0 0 .6em;
			font-size: 80%;
			line-height: 1.5;

			&:active {
				background: transparent;
				box-shadow: 0 1px .1em black inset;
			}
		}
	}
}
