<template name="ConfStylesheet">
<style>
meta { display: none !important; } /* override Mavo default */

div.conf-app > div {
  padding: 0 9px;
}

div.toolbar {
  text-align: right;
  padding-right: 2%;
}

div.toolbar a {
  margin-left: 1em;
}

table.papers {
  border-collapse: collapse;
  margin-bottom: 1em;
}

table.papers td {
  border: 1px solid grey;
  padding: 2px 5px;
}

table.papers ul,
table.paper ul {
  margin: 0;
  padding-left: 20px;
}
table.papers li,
table.paper li {
  text-indent: -4px;
}

table.paper textarea,
tr.comment textarea,
table.review textarea{
  width: calc(100% - 20px);
  height: 10em;
}
table.paper input[property='latestTitle'] {
  width: calc(100% - 20px);
}

table.paper,
div.comments table,
table.review {
  width: 100%;
}
table.paper th,
table.review th {
  white-space: nowrap;
  width: 1px;  /* force minimal width */
}

table.paper .upload th {
  vertical-align: top;
}

tr.comment td {
  vertical-align: top;
}
tr.comment td:first-child {
  width: 100px;
}

span.datetime {
  font-size: 70%;
}

table.paper.existing ul.coauthors {
  pointer-events: none;  /* hack to conditionally disable editing coauthors */
}

table.paper.existing ul.coauthors .mv-item-controls,
table.paper.existing ul.coauthors .mv-add
{
  display: none;
}

table.paper.author .contents th {
  display: none;
}

table.paper:not(.author) .upload {
  display: none;
}

table.paper:not(.submit-phase) .mv-add {
  /* disable adding conflicts after submission phase */
  display: none;
}

table.review em {
  color: red;  /* save reminder */
}

div.reviews .mv-item-controls {
  /* disable remove of ReviewView (no corresponding trigger) */
  display: none;
}

div.reviews:not(.pc) .mv-add {
  /* disable adding new reviews by non-PC members */
  display: none;
}
</style>
</template>
