<template name="ConfLogin">

  {{> ConfStylesheet}}

  <div mv-storage="objsheets:{{sheet}}/views/ClientUserView" mv-debug class="conf-app">
  <div>

    <form action="#">
      <input property="username" list="usernames"> <button type="submit" property="login">Login</button>
      <span property="link">[doLogin(username, login, ClientUserView)]</span>
    </form>

    <datalist id="usernames">
      <option property="ClientUserView" mv-multiple>
        <meta property="_ref"/>
        <span property="ctxt_display"
          data-username="[ctxt_display]" data-cellId="[_ref]"></span>
      </option>
    </datalist>

  </div>
  </div>

  <script>
  var c = 0;
  function doLogin(username, login, userbase) {
    if (login > c) {
      c = login;
      for (let i = 0; i < userbase.length; i++) {
        let u = userbase[i];
        if (u.ctxt_display == username) {
          window.location = "conf/user/" + u._ref;
          return ;
        }
      }
      return "no such user";
    }
  }
  </script>

</template>


<template name="ConfProfile">

  {{> ConfStylesheet}}

  <div mv-storage="objsheets:{{sheet}}/ClientUserView/{{encodeURI(cellId)}}" class="conf-app">
  <div>

    <meta property="_ref"/>
    <div class="toolbar"><a href="[_ref]/papers">My papers</a> <a href="../../conf">Logout</a></div>

    <div property="SelfProfileView">
      <table>
        <tr><th><label>Username:</label></th>     <td><span property="self_display"></span></td></tr>
        <tr><th><label>Full name:</label></th>    <td><input property="name"></td></tr>
        <tr><th><label>Affiliation:</label></th>  <td><input property="affiliation"></td></tr>
        <tr><th><label>Email:</label></th>        <td><input property="email"></td></tr>
      </table>
    </div>

  </div>
  </div>

</template>


<template name="ConfPapers">

  {{> ConfStylesheet}}

  <div mv-storage="objsheets:{{sheet}}/ClientUserView/{{encodeURI(cellId)}}" class="conf-app">
  <div>

    <meta property="_ref"/>
    <div class="toolbar"><a href="../[_ref]">My profile</a> <a href="../../../conf">Logout</a></div>

    <table class="papers">
      <tr><th>Title</th><th>Authors</th><th>Role</th></tr>
      <tr property="PaperView" mv-mode="read" mv-multiple>

        <td>
          <meta property="_ref"/>
          <a href="../../paper/[_ref]"><span property="paper_display"></span></a>
        </td>
        <td>
          <ul>
            <li property="author_display"></li>
            <li property="coauthors" mv-multiple></li>
          </ul>
        </td>
        <td><span property="role"></span></td>
      </tr>
    </table>

    <meta property="phase"/>
    <div mv-if="phase == 'submit'"><a href="../../paper/new:[_ref]">New submission</a></div>

  </div>
  </div>

</template>


<template name="ConfPaper">

  {{> ConfStylesheet}}

  {{! Note: cellId can actually have "new:". }}
  <div mv-storage="objsheets:{{sheet}}/ClientUserView:PaperView/{{encodeURI(cellId)}}" class="conf-app mv-autoedit">
  <div>

  <meta property="viewer"/>
  <meta property="viewer_display"/>
  <div class="toolbar"><a href="[if(viewer,'../user/', 'javascript:history.back()')][viewer][if(viewer,'/papers','')]">Back to list</a>  <a href="../../conf">Logout</a></div>

  <p>Current phase is <b property="phase" mv-mode="read"></b></p>

  <meta property="role"/>

  <table class="paper [role] [if(phase,phase,'submit')]-phase [if(viewer,'existing','new')]">
    <tr>
      <th>Title</th><td><input property="latestTitle"></td>
    </tr>
    <tr>
      <th>Authors</th>
      <td>
        <ul class="coauthors">
          <li><span property="author_display" mv-mode="read"></span><span mv-if="!author_display">(you)</span></li>
          <li property="coauthors" mv-multiple></li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>Abstract</th>
      <td><textarea property="latestAbstract"></textarea></td>
    </tr>
    <tr class="upload">
      <th rowspan="2">Upload content:</th>
      <td><input property="latestContents" type="file"></td>
    </tr>
    <tr class="contents">
      <th>Contents</th>
      <td>[latestContents]</td>
    </tr>

    <tr>
      <th>PC Conflicts</th>
      <td>
        <input type="text" property="pcConflicts_text" mv-multiple list="pcmembers" mv-if="!phase || phase=='submit'">
        <button class="mv-ui mv-add mv-add-pcConflicts_text">Add conflict</button>
        <span mv-if="phase && phase!='submit'">[pcConflicts_text]</span>
      </td>
    </tr>

    <tr mv-if="viewer_display=='admin'">  <!-- don't worry, this is also checked at the server -->
      <th>Assign<br/>Reviewers</th>
      <td>
        <input property="assignedReviewers_text" mv-multiple list="pcmembers">
      </td>
    </tr>
  </table>

  <div class="comments" mv-if="role=='pc'">
    <h3>Comments</h3>
    <table>
      <tr property="CommentView" mv-multiple mv-order="asc" class="comment">
        <td><meta property="_ref"/><meta property="time"/><meta property="user_display"/>
          [if(_ref,user_display,viewer_display)]<br/><span class="datetime">[if(time,time,'(just now)')]</span>
        </td>
        <td>
          <p mv-if="_ref">[contents]</p>
          <textarea property="contents" mv-if="!_ref"></textarea>
        </td>
      </tr>
    </table>

    <p><!-- Mavo button placement workaround --></p>
    <button class="mv-ui mv-add mv-add-CommentView">Add comment</button>
  </div>

  <div class="reviews [role]" mv-if="ReviewView.length || role=='pc'">
    <h3>Reviews</h3>
    <table property="ReviewView" mv-multiple mv-order="asc" class="review">
      <tr>
        <th>Reviewer<meta property="_ref"/></th>
        <td property="reviewer_display" mv-if="_ref && reviewer_display"></td>
        <td mv-if="_ref && !reviewer_display">#[$index]<!-- anonymous reviewer --></td>
        <td mv-if="!_ref" mv-mode="read">[viewer_display] <em>(don't forget to save!)</em></td>
      </tr>
      <tr>
        <th>Score</th>
        <!-- seems that Mavo cannot handle expression in mv-mode -->
        <td>
          Novelty: <span property="score_novelty" mv-if="!_ref"></span><span mv-if="_ref">[score_novelty]</span>/5 |
          Presentation: <span property="score_presentation" mv-if="!_ref"></span><span mv-if="_ref">[score_presentation]</span>/5 |
          Technical: <span property="score_technical" mv-if="!_ref"></span><span mv-if="_ref">[score_technical]</span>/5 |
          Confidence: <span property="score_confidence" mv-if="!_ref"></span><span mv-if="_ref">[score_confidence]</span>/5
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <p mv-if="_ref">[contents]</p>
          <textarea property="contents" mv-if="!_ref"></textarea>
        </td>
      </tr>
    </table>
    <p><!-- Mavo button placement workaround --></p>
    <button class="mv-ui mv-add mv-add-ReviewView">Add your review</button>
  </div>

  </div>
  </div>   <!-- end of first mv-app -->

  <div mv-storage="objsheets:{{sheet}}/views/PublicView" style="display: none">
    <datalist id="pcmembers">
      <option property="PCMember" mv-multiple><span property="name"></span></option>
    </datalist>
  </div>

</template>