.layout-rect-common {
  box-sizing: border-box;
}
/* I.e., all rectangles except those in extra space spans.  We don't need to
   distinguish which axis is extra-space because no extra-space rectangle is
   supposed to have text. */
.layout-rect-real {
  white-space: pre;
  /* 1px on each side is reserved for the border (if any). */
  padding: 3px 5px 3px 5px;
  /* Currently should only matter for pending edits, since normally the
     rectangle is sized to fit the content. */
  overflow: hidden;
}
.field-name-label {
  box-sizing: border-box;
  background-color: #F1F6F5;
  font-family: 'Roboto';
  font-style: italic;
  text-align: left;

  padding: 2px 4px 1px 4px;
  font-size: 12px;
}
