.layout-container {
  position: relative;
  /* Do not show built-in outline when focused. */
  outline: 0;
}
.selection-frame {
  /* Copied from wip-tableview */
  outline: 2px solid rgb(82, 146, 247);
  /* Adjust to draw into the rectangle like Handsontable does.  Subject to reconsideration. */
  outline-offset: -2px;
}
.selection-frame-inactive {
  outline: 2px dashed rgb(82, 146, 247);
  outline-offset: -2px;
}
.add-delete-frame {
  /* To be adjusted. ~ Matt 2018-01-27 */
  outline: 2px dotted rgb(159, 82, 247);
  outline-offset: -2px;
}
.move-target-frame {
  outline: 2px solid rgb(0, 160, 0);
  outline-offset: -2px;
}
.cell-edit-backing-div {
  visibility: hidden;
}
/* Specificity hack vs. .layout-rect-real */
div .cell-edit-backing-div {
  /* In both Firefox and Chrome, <input type="text"> seems to need a few extra
     pixels beyond the width of an automatically sized div. */
  padding-left: 7px;
  padding-right: 7px;
}
.cell-edit-input {
  width: 100%;
  /* Overriding browser defaults that use a particular font for all input elements. */
  font-size: inherit;
  /* Suppress the default border. */
  border: 0;
  outline: 0;  /* Needed in Chrome. ~ Matt 2018-07-28 */
}
