<!--
  Obviously we don't want to end up with a lot of these.  I'm not sure I want to
  write an `ObjsheetsReactApp` wrapper template just yet though: it needs more
  thought whether that's a sensible thing to do in general. ~ Matt 2018-01-05
-->
<template name="layout-wrapper">
  {{#ObjsheetsApp sheet=sheet}}
  {{> ReactPage}}  {{! Preserves data context }}
  {{/ObjsheetsApp}}
</template>

<template name="layout-unsafe-link">
  <p>Espalier has blocked a link or redirect that may pose a security risk:</p>
  <p>{{link}}</p>
  <p><a href="javascript:history.go(-1);">Go back.</a></p>
</template>
