<template name="MilkMaid">
  <style>
    div.header { background: rgba(0,60,60,0.2); padding: 9px; }
    div.content { position: relative; }
    div.Gauge { position: absolute; right: 0; top: 0;  margin: 9px; }
    div.Team { margin: 9px; }
    table { border-collapse: collapse; }
    table td { border: 1px solid #CCC; padding: 6px; }
    div.Team tr[data-isNext='true'] td { background: rgba(0,0,255,0.2); }
    div.Team .names span:not(:first-child):before { content: " and "; color: #888; }
    div.Gauge tr[data-selected='true'] td { outline: 3px solid black; }
    div.Gauge tr td { cursor: pointer; }
    div.Gauge tr td:hover { background: rgba(0,0,255,0.2); }

    /* Mavo toolbar is useless in this app */
    /* Note: mv-mode="read" on root seems to have no effect */
    .mv-bar.mv-ui { height: 30px; }
    .mv-bar.mv-ui button { display: none; }
  </style>

  <div mv-storage="objsheets:{{sheet}}" mv-mode="read"> <!-- mv-mode="read" does not seem to do anything here -->

    <div class="header">Got Milk?</div>

    <div class="content">
      <div class="Team">
        <table>
          <tr property="Team" mv-multiple data-isNext="[isNext]">
            <td property="_ref" style="display: none"></td> <!-- hidden td instead of meta tag, which is -->
            <td property="isNext" style="display: none"></td>       <!-- not allowed in table -->
            <td class="names"><span property="members_display" mv-multiple></span></td>
            <td><div mv-if="isNext != null"><span property="quota"></span>
                <button mv-call="supply" mv-arg-me="[_ref]">Supply 2gal</button>
            </div></td>
          </tr>
        </table>
      </div>

      <div class="Gauge">
        <table property="Gauge" mv-multiple>
          <tr property="reading" style="display: none"></tr>
          <tr property="Level" mv-multiple data-selected="[reading == _ref]">
            <td property="_ref" style="display: none"></td>
            <td class="marking" property="label" mv-call="demand" mv-arg-level="[_ref]"></td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</template>
