<template name="PTC_Teacher_login">
  <div mv-storage="objsheets:{{sheet}}/views/3">
  <h1>Teacher login</h1>
  <ul>
    <li property="TeacherView" mv-multiple>
      <meta property="_ref" />
      <a href="teacher/[_ref]"><span property="_display"></span></a>
    </li>
  </ul>
  </div>
</template>

<template name="PTC_Teacher">

  <div mv-storage="objsheets:{{sheet}}/TeacherView/{{encodeURI(cellId)}}" class="mv-autoedit">
  <!-- specifically make sure that '[', ']' are escaped
       so they are not intercepted by Mavo -->

  <div><a href="../teacher">Back to login</a></div>
  <h1>Teacher view for <span property="_display"></span></h1>
  <style>
  .teacherSlotTable th, .teacherSlotTable td {
    padding: 4px;
  }
  </style>
  <table class="teacherSlotTable" border="border">
  <tr><th>Slot time</th><th>Scheduled meeting</th></tr>
  <tr property="SlotView" mv-multiple>
    <!-- [if(scheduledEnrollment != undefined, 'read', '')] -->
    <td>
      <input property="time" type="text" mv-if="!scheduledEnrollment"/>
      <span mv-if="scheduledEnrollment">[time]</span>
    </td>
    <td><meta property="scheduledEnrollment" style="display: none;"/><span property="scheduledEnrollment_display" mv-mode="read"></span></td>
  </tr>
  </table>

  </div>
</template>

<template name="PTC_Parent_login">
  <div mv-storage="objsheets:{{sheet}}/views/1">
  <h1>Parent login</h1>
  <ul>
    <li property="ParentView" mv-multiple>
      <meta property="_ref" />
      <a href="parent/[_ref]"><span property="_display"></span></a>
    </li>
  </ul>
  </div>
</template>

<template name="PTC_Parent">
<style>
.mv-bar.mv-ui .mv-edit, .mv-bar.mv-ui .mv-clear { display: none; }
</style>

  <div mv-storage="objsheets:{{sheet}}/ParentView/{{encodeURI(cellId)}}">
  <!-- specifically make sure that '[', ']' are escaped
       so they are not intercepted by Mavo -->

  <div><a href="../parent">Back to login</a></div>
  <h1>Parent view for <span property="_display"></span></h1>
  <ul>
    <li property="StudentView" mv-multiple><span property="_display"></span>
    <ul>
      <li property="EnrollmentView" mv-multiple>
        <meta property="_ref"/>
        <span property="className"></span> with <span property="teacherName"></span>:
        <select property="scheduledSlot" mv-default="['']">
          <option value=""></option>
          <option value="[slot]" property="SlotOption" selected="[slot == scheduledSlot]" mv-multiple typeof>[time]</option>
        </select>
      </li>
    </ul>
    </li>
  </ul>

  </div>
</template>

<template name="PTC_Calendar">
<style>
td[property='day'] > div {
  width: 200px;
  height: 40px;
  display: flex;
}
td[property='day'] > div:not([title=""]) {
  background: #ddffdd;
}
span[property='filledSlot'] {
  background: #eeeeff;
  border: 1px solid grey;
  margin: 1px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 2px 5px;
  font-size: smaller;
  overflow: auto;
}
span[property='filledSlot']::-webkit-scrollbar {
  width: 3px;
}
span[property='filledSlot']::-webkit-scrollbar-button {
    background: #ccf;
}
span[property='filledSlot']::-webkit-scrollbar-track-piece {
    background: #88f;
}
span[property='filledSlot']::-webkit-scrollbar-thumb {
    background: #ccf;
    border-left: 1px solid #88f;
}
</style>

  <div mv-storage="objsheets:{{sheet}}/views/2">

    <div property="Calendar" mv-multiple>

        <table>
          <tr>
            <td></td>
            <th property="days" mv-multiple></th>
          </tr>
          <tr property="Hourly" mv-multiple>
            <th property="time"></th>
            <td property="day" mv-multiple>
              <meta property="availableTeachers_display" mv-multiple/>
              <div title="[if(availableTeachers_display,caption(),'')][availableTeachers_display]">
                <span property="filledSlot" mv-multiple>
                  <span property="parent_display"></span> /
                  <span property="teacher_display"></span>
                </span>
              </div>
            </td>
          </tr>
        </table>

    </div>

  </div>

<script>function caption() { return "Available teachers:\n"; }</script>

</template>
