::before {
	content: var(--prepend) " ";
}

::after {
	content: " " var(--append);
}

:root {
	--ciel: hsl(200, 100%, 90%);
	--dark: hsl(200, 50%, 40%);
}

$pass: hsl(80, 70%, 75%);
$fail: hsl(0, 70%, 90%);
$error: hsl(0, 70%, 70%);

body {
	max-width: 50em;
	margin: auto;
	counter-reset: failures;
}

a {
	color: var(--dark)
}

a:not(:hover) {
	text-decoration: none;
}

.pass {
	--color: $pass;
	--dark-color: hsl(80, 70%, 42%);
}

.fail {
	--color: $fail;
	--dark-color: hsl(0, 70%, 50%);
}

.error {
	--color: $error;
	--dark-color: hsl(0, 70%, 40%);
}

body > section {
	border: .2em solid var(--ciel);
	margin: .5em 0;
	padding: .5em;
	border-radius: .3em;

	& > h1 {
		margin: 0;
		font: bold 200%/1 Helvetica Neue, sans-serif;
		color: var(--dark);
		letter-spacing: -.04em;
	}

	script[type="application/json"] {
		padding: .5em;
		background: var(--ciel);
		display: block;
		font-family: monospace;
		white-space: pre;
	}
}

body > section > p,
.notice {
	width: max-content;
	max-width: 100%;
	box-sizing: border-box;
	padding: .4em 1em;
	background: var(--ciel);
	font-style: italic;
	border-radius: .2em;
}

.notice {
	margin: 1em auto;
	font-size: 125%;
}

body > section > p {
	&::before {
		content: "Instructions: ";
		font-size: 80%;
		font-weight: bold;
		font-style: normal;
		text-transform: uppercase;
	}
}

dl.tests {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2em;

	dt:first-of-type {
		&, & + dd, & + dd + dd {
			position: relative;
			&::before {
				position: absolute;
				bottom: 100%;
				left: .5em;
				color: rgba(0,0,0,.5);
				font: bold 80% sans-serif;
			}
		}

		&::before {
			content: "Test";
		}

		& + dd::before {
			content: "Expected";
		}

		& + dd + dd::before {
			content: "Actual";
		}
	}

	dt[title]::after {
		content: attr(title);
		display: block;
		color: rgba(0,0,0,.5);
		mix-blend-mode: multiply;
		font: italic 70% sans-serif;
	}

	.pass {
		&, & + dd {
			background: $pass;
		}

		& + dd { width: 60%; }
	}

	.fail {
		&, & + dd, & + dd + dd {
			background: $fail;
		}
	}

	.error {
		&, & + dd, & + dd + dd {
			background: $error;
		}
	}

	dt, dd {
		padding: .5em;
		margin: .1em 0;
		box-sizing: border-box;
		font: bold 100%/1.5 Consolas, Monaco, monospace;
	}

	dt {
		width: 40%;
	}

	dd {
		width: 30%;
	}
}

table.reftest {
	width: 100%;
	display: flex;
	flex-flow: column;

	tr {
		display: flex;
	}

	tbody > tr {
		border: 1px solid hsla(0, 0%, 0%, .1);
	}

	td, th {
		flex: 1;
	}

	th {
		padding: 0;
		color: gray;
	}

	td {
		padding: .4em;
	}

	td:not(:last-child) {
		border-right: 1px solid hsla(0, 0%, 0%, .1);
	}
}

table.reftest {
	tr {
		margin: .4em 0;
		background: var(--color);

		&.fail {
			counter-increment: failures;
		}
	}

	tr[title] {
		position: relative;

		td {
			padding-top: 1.5em;
		}

		&::before {
			content: attr(title);
			position: absolute;
			top: 0; left: 0; right: 0;
			padding: .4em;
			background: linear-gradient(to right, var(--dark-color), transparent);
			color: white;
			font: bold 75%/1 sans-serif;
			text-shadow: 0 0 1px rgba(0,0,0,.5);
		}
	}
}

body::after {
	content: counter(failures) " failure(s)";
	position: fixed;
	top: .6rem;
	left: 1rem;
	font: bold 200% Helvetica Neue, sans-serif;
	color: #b00;
}
