::before {
  content: var(--prepend) " "; }

::after {
  content: " " var(--append); }

:root {
  --ciel: #cceeff;
  --dark: #337799; }

body {
  max-width: 50em;
  margin: auto;
  counter-reset: failures; }

a {
  color: var(--dark); }

a:not(:hover) {
  text-decoration: none; }

.pass {
  --color: #ceec93;
  --dark-color: #84b620; }

.fail {
  --color: #f7d4d4;
  --dark-color: #d92626; }

.error {
  --color: #e87d7d;
  --dark-color: #ad1f1f; }

body > section {
  border: 0.2em solid var(--ciel);
  margin: .5em 0;
  padding: .5em;
  border-radius: .3em; }
  body > section > h1 {
    margin: 0;
    font: bold 200%/1 Helvetica Neue, sans-serif;
    color: var(--dark);
    letter-spacing: -.04em; }
  body > section script[type="application/json"] {
    padding: .5em;
    background: var(--ciel);
    display: block;
    font-family: monospace;
    white-space: pre; }

body > section > p,
.notice {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
  padding: .4em 1em;
  background: var(--ciel);
  font-style: italic;
  border-radius: .2em; }

.notice {
  margin: 1em auto;
  font-size: 125%; }

body > section > p::before {
  content: "Instructions: ";
  font-size: 80%;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase; }

dl.tests {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2em; }
  dl.tests dt:first-of-type, dl.tests dt:first-of-type + dd, dl.tests dt:first-of-type + dd + dd {
    position: relative; }
    dl.tests dt:first-of-type::before, dl.tests dt:first-of-type + dd::before, dl.tests dt:first-of-type + dd + dd::before {
      position: absolute;
      bottom: 100%;
      left: .5em;
      color: rgba(0, 0, 0, 0.5);
      font: bold 80% sans-serif; }
  dl.tests dt:first-of-type::before {
    content: "Test"; }
  dl.tests dt:first-of-type + dd::before {
    content: "Expected"; }
  dl.tests dt:first-of-type + dd + dd::before {
    content: "Actual"; }
  dl.tests dt[title]::after {
    content: attr(title);
    display: block;
    color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: multiply;
    font: italic 70% sans-serif; }
  dl.tests .pass, dl.tests .pass + dd {
    background: #ceec93; }
  dl.tests .pass + dd {
    width: 60%; }
  dl.tests .fail, dl.tests .fail + dd, dl.tests .fail + dd + dd {
    background: #f7d4d4; }
  dl.tests .error, dl.tests .error + dd, dl.tests .error + dd + dd {
    background: #e87d7d; }
  dl.tests dt, dl.tests dd {
    padding: .5em;
    margin: .1em 0;
    box-sizing: border-box;
    font: bold 100%/1.5 Consolas, Monaco, monospace; }
  dl.tests dt {
    width: 40%; }
  dl.tests dd {
    width: 30%; }

table.reftest {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column; }
  table.reftest tr {
    display: -ms-flexbox;
    display: flex; }
  table.reftest tbody > tr {
    border: 1px solid rgba(0, 0, 0, 0.1); }
  table.reftest td, table.reftest th {
    -ms-flex: 1;
    flex: 1; }
  table.reftest th {
    padding: 0;
    color: gray; }
  table.reftest td {
    padding: .4em; }
  table.reftest td:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1); }

table.reftest tr {
  margin: .4em 0;
  background: var(--color); }
  table.reftest tr.fail {
    counter-increment: failures; }

table.reftest tr[title] {
  position: relative; }
  table.reftest tr[title] td {
    padding-top: 1.5em; }
  table.reftest tr[title]::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .4em;
    background: linear-gradient(to right, var(--dark-color), transparent);
    color: white;
    font: bold 75%/1 sans-serif;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }

body::after {
  content: counter(failures) " failure(s)";
  position: fixed;
  top: .6rem;
  left: 1rem;
  font: bold 200% Helvetica Neue, sans-serif;
  color: #b00; }

/*# sourceMappingURL=style.css.map */
