<!-- Wrapper to make a page with a single React component that fulfills the
     requirement that the call to the React wrapper template be an only child.

     TODO: Consider migrating to kadira:flow-router as per
     https://guide.meteor.com/routing.html and maybe this won't be necessary. -->
<template name="ReactPage">
  <div style="position: absolute; width: 100%; height: 100%;">{{> React}}</div>
</template>
