<template name="DoubleOhFiveQueue">
  <div mv-storage="objsheets:{{sheet}}" mv-debug>
  {{> DoubleOhFive_nav}}
  {{> DoubleOhFiveQueueStylesheet}}

<!-- This is what it basically is:

  <form>
    Hi! My name is <input name="name" required> and I need help with
    <input type="text" name="issue" list="skills">.
    I'm at <input name="location">
    <button type="submit">HELP ME!</button>
  </form>

  <div class="the-queue">
    <ul>
      {{#each sortBy root.Call "time"}}
      <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>
  </div>

  -->
  <div id="login" class="ui page dimmer">
    <div class="content">
      <div class="center">
        <div class="ui input">
          <input type="password" placeholder="password">
        </div>
      </div>
    </div>
  </div>
  <div class="centered student title">
    005q
    <div class="centered subtitle">
      There [if(2 > count(Call), is, if(count(Call) > 1, are))] [if(count(Call) == 0, no, if(count(Call) > 0, count(Call)))] [if(count(Call) > 1, people, person)] in the queue!
    </div>
  </div>
  <div class="centered container">
    {{! Note: These fields get cleared after a successful submission, apparently
        as a side effect of re-rendering the Mavo instance with new data.  We
        probably shouldn't rely on this and should find an explicit solution for
        clearing the fields if we want it.  (Indeed, we may want to be able to
        load new data into parts of the page without clobbering other parts of
        the page, and the proposal to automatically merge unsaved changes with
        the server's data may affect this form.)
        ~ Matt 2017-03-28 }}
    <div id="help" class="content">
      My name is
      <div class="ui inline input">
        <input id="name" type="text" placeholder="name" property="name">
      </div>
      and I need help with
      <div class="ui inline input">
        <input id="issue" type="text" placeholder="something!"
               list="skills" property="issue">
      </div>
      <br>
      <div class="ui inline input">
        <input id="location" type="text" placeholder="where are you?" property="location">
      </div>
    </div>
    <br>
    <button class="ui huge purple disabled help button" mv-call="enqueue" mv-arg-name="[name]" mv-arg-issue="[issue]" mv-arg-location="[location]">
      Help me!
    </button>
  </div>
  <div id="student-queue" class="centered">
    <div class="queue title">
      Currently in the queue:
          <div property="Call" mv-multiple>
            <input type="hidden" property="assign" mv-multiple>
            <span property="name" class="[if(gt(count(assign), 0), blink)] item"></span>
          </div>
    </div>
  </div>

  <datalist id="skills">
    <option property="Skill" mv-multiple><span property="name"></span></option>
  </datalist>

  </div><!-- Mavo wrapper -->
</template>


<template name="DoubleOhFiveQueueStaffLogin">
  <div mv-storage="objsheets:{{sheet}}/views/1">
  {{> DoubleOhFive_nav}}
  {{> DoubleOhFiveQueueStylesheet}}
  <div style="margin: 9px;">

  <h3>Staff login</h3>
  <ul>
    <li property="StaffView" mv-multiple>
      <meta property="_ref" />
      <a href="./staff/[_ref]"><span property="member_display"></span></a>
    </li>
  </ul>
  </div>

  </div>
</template>

<template name="DoubleOhFiveQueueStaff">
  <div mv-storage="objsheets:{{sheet}}/StaffView/{{encodeURI(cellId)}}">
  {{> DoubleOhFive_nav}}
  {{> DoubleOhFiveQueueStylesheet}}
  <div style="margin: 9px;">

  <meta property="member" />
  <h3>Staff login ‣ <span property="member_display"></span></h3>
  <div class="staff queue">
    <ul>
      <li property="CallView" mv-multiple>
        <meta property="call" />
        <span property="name"></span>
        (<span property="issue"></span>)
        <i style="font-size: smaller">in <span property="location"></span></i>
        <meta property="assign" />
        <meta property="lastChance" />
        <button mv-call="done" mv-arg-call="[call]" mv-if="assign == member">done</button>
        <!-- TODO use an expression to control 'disabled' after Mavo issue #68 is fixed -->
        <button mv-call="forfeit" mv-arg-call="[call]" mv-arg-user="[member]" mv-if="assign == member && !lastChance">forfeit</button>
        <button mv-call="forfeit" mv-arg-call="[call]" mv-arg-user="[member]" mv-if="assign == member && lastChance" disabled>forfeit</button>
        <button mv-call="pick" mv-arg-call="[call]" mv-arg-user="[member]" mv-if="assign == undefined">pick</button>
      </li>
    </ul>
  </div>
  </div>

  </div><!-- Mavo wrapper -->
</template>



<template name="DoubleOhFive_nav">
  <div class="ui purple inverted menu">
    <a class="logo item">
      005q
    </a>
    <div class="right menu">
      {{#if currentUser}}
        <!--<a class="changelog icon item">-->
          <!--<i class="info icon"></i>-->
        <!--</a>-->
        <a class="report item">
          Reports
        </a>
        <a class="queue item">
          Queue
        </a>
        <a class="logout item">
          Sign Out
        </a>
      {{else}}
        <a class="login item" href="/{{sheet}}/apps/005q/staff">
          Staff Login
        </a>
      {{/if}}
    </div>
  </div>
</template>
