<template name="actionBar">
  {{#if loading}}
    <div>Loading... This may take a minute, especially if the sheet is being filled with a sample data set.</div>
  {{else}}
    {{! Any way to avoid this thicket of divs?

        "overflow: hidden;" is for the formula error message, which can be long,
        and we just let it be cut off.  Everything else should fit.

        "position: relative;" is for the collapse link. }}
    <div style="height: 100%; overflow: hidden; position: relative;">
      <div style="height: 28px; display: flex; flex-direction: row; margin-bottom: 4px;">
        <select id="actionBarMode" disabled={{hasUnsavedData}}>
          {{> html_select_content actionBarModeMenu}}
        </select>
        <div style="flex-grow: 1;"></div>
        <div id="spinnerHost" style="width: 28px; position: relative;"></div>
        <button id="undo" disabled={{not canUndo}}>Undo</button>
        <button id="redo" disabled={{not canRedo}}>Redo</button>
        {{! XXX: Hide or disable if cleanup trigger doesn't exist?  Attempting
            the operation is the easiest way to give the user an error message
            that clues them in to how they need to set this up.

            TODO: Cue the user whether changes have been made since the last
            cleanup? }}
        <button id="cleanup" disabled={{hasUnsavedData}}>Cleanup</button>
      </div>

      {{#if isGlobalMacrosOpen}}
        {{> globalMacros}}
      {{else}}
        {{! Currently only cells in the body can have text while only cells in
            the header use the changeColumn template.
            FIXME: Full text can overlap the "Global macros" link.  This is
            (hopefully) unlikely enough that I won't fix it now.
            Comment ~ Matt 2017-03-07 }}
        {{#if fullTextToShow}}
          <div>{{fullTextToShow}}</div>
        {{/if}}
        {{#each changeColumnArgs}}
          {{> changeColumn}}
        {{/each}}
        {{#if showCollapseLink}}
          <div id="collapse-link"
            style="position: absolute; bottom: 0; left: 0;"
            class="fakeLink"
          >Collapse</div>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="changeColumn">
  {{! Avoid size change when drop-down boxes appear, at least in Matt's configuration.
      Total hack.  Feel free to replace with a better solution. }}
  <div style="height: 32px; margin-bottom: 4px;">
    <span style="display: inline-block; height: 25px;"></span>{{columnName}} :
    {{#if onObjectHeader}}
      {{! The below should still be half-reasonable for state keyed objects,
          even though we're deprecating them for now. }}
      {{#if isComputed}}
        computed
      {{/if}}
      {{#if isViewObjectRoot}}
        view
      {{/if}}
      objects
      {{#if keyColumnName}}
        generated for {{keyColumnName}}
      {{/if}}
    {{else}}
      <select id="changeColumn-type">
        {{> html_select_content typeMenu}}
      </select>
      <label style="margin-left: 1em;">
        <input type="checkbox" id="changeColumn-multiple"
          checked={{not col.singular}} disabled={{col.isObject}}>
        allow multiple
      </label>
      {{! Disallowed state transitions are rejected in code. }}
      <label style="margin-left: 1em;">
        <input type="checkbox" id="changeColumn-computed" checked={{isComputed}}>
        computed by formula
      </label>
      {{#if isComputed}}
      <span id="editconfig-link"
        style="margin-left: 1em;"
        class="fakeLink {{#if isEditConfigOpen}}fakeLinkActive{{/if}}"
      >Editability / triggers</span>
      {{/if}}
    {{/if}}
  </div>
  {{#if onObjectHeader}}
  <div>Display references using:
    <select id="changeColumn-referenceDisplayColumn">
      {{> html_select_content referenceDisplayColumnMenu}}
    </select>
  </div>
  {{else}}
    {{#if isComputed}}
      <div style="margin-bottom: 4px; width: 100%; display: flex; flex-direction: row;">
        {{! Wrap in div so height does not change along with formula bar when debugger is opened }}
        <div style="margin-right: 4px;">
          {{#if canDebug}}
          <svg class="formulaDebuggerToggle {{#if isFormulaDebuggerActive}}open{{else}}closed{{/if}}"
               style="height: 16px; width: 16px; padding-top: 2px; vertical-align: middle">
            <circle style="stroke-width: 1.5px; fill: transparent" cx="9" cy="7" r="4.5"></circle>
            <line style="stroke-width: 2px" x1="6" y1="10" x2="1" y2="15"></line>
          </svg>
          {{/if}}
          Formula{{#if contextText}} (in context of {{contextText}}){{/if}}:
        </div>
        {{! Height determined by code.

          "width: 0" is needed to make the formula bar scroll when the formula
          is long.  Without it, the formula bar won't shrink beyond its
          "min-content size", which is big enough to show the whole formula, so
          it will cause other elements to shrink (though we could stop that with
          "flex-shrink: 0") and ultimately overflow the action bar.
          Surprisingly, "min-width: 0" would be insufficient because when the
          outer flex container is laid out, the rule for calculating the default
          "min-width" of the inner flex container is based on the min-content
          sizes of the inner items, without taking into account their
          min-widths; this may be a defect in the flexbox specification.
          Specifying "min-width: 0" at every level would work, but specifying
          "width: 0" here seems a better-targeted solution; it seems bogus but
          we know the inner flex container will override it.
          ~ Matt 2017-10-05 }}
      <div id="changeFormula-formula" class="formula {{#if isFormulaModified}}formulaModified{{/if}}"
             style="flex-grow: 1; width: 0;">
          {{! CodeMirror instance gets added here by code, and formulaBands
              template gets injected into that. }}
        </div>
        <div style="margin-left: 4px;">
          <button class="saveFormula" disabled={{not canSave}}>Save</button>
          <button class="revertFormula" disabled={{not isFormulaModified}}>Cancel</button>
        </div>
      </div>
      {{#if newFormulaInfo.error}}
        {{! Quick and dirty display of the error before saving.
            TODO: Distinguish between parse and typecheck errors, have parse
            errors block saving, and show the error position.  The full formula
            builder will eventually supersede this. }}
        <div style="color: #800;">{{newFormulaInfo.error}}</div>
      {{/if}}
      {{#if isFormulaDebuggerActive}}
      {{! May as well let this exist empty when no band is selected to save an afterFlush in the template. }}
      {{! This height roughly reflects that the action bar expands by 185px, of
          which 20px goes to expand the formula bar for the bands, but we no
          longer need room for the error label since it's currently impossible
          to open the tracing view while there's an error.
          Comment ~ Matt 2017-03-07 }}
      <div id="TracingView" style="width: 100%; height: 180px; overflow: auto;"></div>
      {{/if}}
      {{#if isEditConfigOpen}}
      {{! This one can take the whole 185px expansion of the action bar. }}
      {{! We don't want this quite as close to the formula bar as the formula debugger. }}
      <div style="width: 100%; height: 175px; overflow: auto; margin-top: 10px;">
        {{#if computedIsEditable}}
          <div>Editability formula:
            <div style="display: inline-block;" class="readOnlyCode">{{editabilityFormulaStr}}</div>
          </div>
          <div style="margin-top: 5px; margin-bottom: 5px;">
            Triggers ({{#if areTriggersDefault}}default{{else}}custom{{/if}}):
          </div>
          <table>  {{! for layout; no border }}
            {{#each triggerEntries}}
            <tr style="padding-top: 1px; padding-bottom: 1px;">
              {{! XXX: Really we probably want the baseline to align with the
                  baseline of the first line of the body.  Someone who knows CSS
                  better than me please implement this. ~ Matt 2017-03-08 }}
              <td style="vertical-align: top;">{{name}}:</td>
              <td><div class="readOnlyCode">{{body}}</div></td>
            </tr>
            {{/each}}
          </table>
        {{else}}
          This column is not configured to be editable.
        {{/if}}
      </div>
      {{/if}}
    {{/if}}
  {{/if}}
</template>

<template name="formulaBands">
  {{#if isFormulaDebuggerActive}}
    <!-- Spacebars docs: "However, an error is never thrown when trying to index into a non-object or an undefined value." -->
    {{#each newFormulaInfo.bands}}
      <div class="formulaBand {{#if selected}}formulaBandSelected{{/if}}"
            style="left: {{left}}px; width: {{width}}px; top: {{top}}px; height: {{height}}px;"></div>
    {{/each}}
  {{/if}}
</template>

<template name="globalMacros">
  {{! When I collapsed these two divs into one, the bottom padding got lost when
      the content was long enough to scroll, at least in Firefox.
      ~ Matt 2017-03-08 }}
  <div style="height: 280px; overflow: auto;">
    <div class="readOnlyCode">{{macrosText}}</div>
  </div>
</template>
