<!--
Block helper for a custom application UI.  Takes care of the
ClientAppHelpers.open call and waiting until the client receives a consistent
data set before rendering the app template.

Reloads the page if a different sheet is already open (using
ClientAppHelpers.openOrReload)!

Example:
```
{{#ObjsheetsApp sheet=sheet}}
  {{#each myHelper}}  {{! myHelper based on read* APIs}}
    ...
  {{/each}}
{{else}}
  <p>my loading message</p>  {{! optional}}
{{/ObjsheetsApp}}
```
-->
<template name="ObjsheetsApp">
  {{#if isReady}}
    {{> Template.contentBlock}}
  {{else}}
    {{#if Template.elseBlock}}
      {{> Template.elseBlock}}
    {{else}}
      {{! TODO: Make this prettier. }}
      <p>Loading...</p>
    {{/if}}
  {{/if}}
</template>
