<template name="Index">
  <title>Espalier</title>
  <style>
    h1 { font-family: sans-serif; margin-bottom: 9px; }
    /*
    ul.apps { font-family: sans-serif; }
    ul.apps li { padding-top: 2px; padding-bottom: 2px; }
    */
    .apps td, .apps th { text-align: center; padding: 4px; }
    div.header { background: rgba(60,0,60,0.2); padding: 9px; border-bottom: 1pt solid rgba(60,0,60,0.3); }
    div.contents { position: relative; padding: 9px; }
    .ui { font-family: sans-serif; font-size: 90%; }
    p { text-align: justify; padding-right: .5em; }
    .video { float: right; width: 480px; margin-left: 1em; margin-bottom: 1em; border: medium ridge; padding: .3em; text-align: center; }
    /* different placeholder selectors for different browsers.
     * for some reason, separating them with commas doesn't work */
    #newSheetName::-webkit-input-placeholder { font-style: italic; }
    #newSheetName::-moz-placeholder { font-style: italic; }
    #newSheetName:placeholder-shown { font-style: italic; }
  </style>

  <div class="header">
    <h1>Espalier Server</h1>
  </div>

  <div class="contents">
    <p>
      This server includes several example applications developed using Espalier,
      and you can also create your own spreadsheets.
    </p>

    <p><strong>As of 2018-07-18, please see the <code>public-demo-server</code> branch for our latest work,
    with the caveat that it is not as stable as <code>master</code>.</strong></p>

    <h2>Example applications</h2>

    <div class="video">
      <div>
        <a href="https://drive.google.com/file/d/0B8oi3hbhFCrpZEhtMEZSSm9wLVU/view">
          <img src="/objsheets-demo-final.png" width="480" height="270"/>
        </a>
      </div>
      <div>
        <a href="https://drive.google.com/file/d/0B8oi3hbhFCrpZEhtMEZSSm9wLVU/view">Video</a> (9 minutes)
        demonstrating how to build the
        {{#Index_ConditionalExampleLink path="ptc-simple"}}simplified parent-teacher conference sheet{{/Index_ConditionalExampleLink}}.
      </div>
    </div>

    <p>
      Follow the links below to see the applications in action and observe their backing spreadsheets.
      The UI is implemented in HTML/CSS powered by the <a href="http://mavo.io">Mavo</a> templating engine, and communicates
      with the spreadsheet server through a designated adapter.
      Open an application's UI and its corresponding spreadsheet side-by-side to see how the spreadsheet
      responds to edits and button clicks in the UI.
      Click column headers in the sheet to see their types and associated formulas.
    </p>

    <p>
      In several applications (PTC, TodoMVC, Conf, HackQ), the UI is bound to a dedicated <em>view</em>
      region of the sheet that is generated from the <em>master data set</em> by formulas.
      Edits made to the view region are propagated back to the master data set.
      Select a computed column in the view region and click "<span class="ui">Editability / triggers</span>"
      on the top bar to see the <em>editability formula</em> that determines whether cells in
      the column can be edited and the <em>triggers</em> that propagate such edits.
      Click "<span class="ui">Global macros</span>" in the top bar to view the macros that implement
      buttons (in HackQ, Got Milk, and TodoMVC) and global data validation and cleanup (in PTC and Conf).
      Editability formulas, triggers, and macros cannot yet be edited through the spreadsheet interface;
      to edit them, run your own server and edit the <code>src/apps/*/server/*-procedures.ts</code> files.
    </p>

    <p>
      {{#if indexMultiuser}}
      <strong>Since multiple people may be using this server, each new visitor
        receives their own instances of the example applications under a
        randomly generated name.</strong>  You can choose a different name here if you wish:
      <input id="examplesNamePrefix" type="text" value="{{examplesNamePrefix}}">
      If you want to come back to your instances later, be sure to record the
      name or the URL of this page.
      {{else}}
      If one of the applications gets messed up, you can enter a name here to get a new instance:
      <input id="examplesNamePrefix" type="text" value="{{examplesNamePrefix}}">
      If you want to come back to the new instance later, be sure to record the
      name or the URL of this page.
      {{/if}}
    </p>

    <table class="apps" border="border">
      <tr>
        <th></th><th>UI</th><th>View sheet</th><th>Master sheet</th><th>Template source</th>
      </tr>
      <tr>
        <td rowspan="3">PTC</td>
        <td>{{#Index_ConditionalExampleLink path="ptc-vu/apps/ptc-vu/teacher"}}teacher{{/Index_ConditionalExampleLink}}</td>
        <td>{{#Index_ConditionalExampleLink path="ptc-vu/views/3"}}teacher{{/Index_ConditionalExampleLink}}</td>
        <td rowspan="3">{{#Index_ConditionalExampleLink path="ptc-vu"}}Master sheet{{/Index_ConditionalExampleLink}}</td>
        <td rowspan="3"><a href="apps-src/ptc-vu/client/ptc-vu.html.txt">Template source</a></td>
      </tr>
      <tr>
        <td>{{#Index_ConditionalExampleLink path="ptc-vu/apps/ptc-vu/parent"}}parent{{/Index_ConditionalExampleLink}}</td>
        <td>{{#Index_ConditionalExampleLink path="ptc-vu/views/1"}}parent{{/Index_ConditionalExampleLink}}</td>
      </tr>
      <tr>
        <td>{{#Index_ConditionalExampleLink path="ptc-vu/apps/ptc-vu/calendar"}}principal{{/Index_ConditionalExampleLink}}</td>
        <td>{{#Index_ConditionalExampleLink path="ptc-vu/views/2"}}principal{{/Index_ConditionalExampleLink}}</td>
      </tr>
      <tr>
        <td>TodoMVC</td>
        <td>{{#Index_ConditionalExampleLink path="todo/apps/todo"}}UI{{/Index_ConditionalExampleLink}}</td>
        <td colspan="2">
          {{#Index_ConditionalExampleLink path="todo"}}Combined sheet{{/Index_ConditionalExampleLink}}
        </td>
        <td><a href="apps-src/todo/client/todo.html.txt">Template source</a></td>
      </tr>
      <tr>
        <td>Conf</td>
        <td>{{#Index_ConditionalExampleLink path="conf/apps/conf"}}UI{{/Index_ConditionalExampleLink}}</td>
        <td>{{#Index_ConditionalExampleLink path="conf/views/ClientUserView"}}View sheet{{/Index_ConditionalExampleLink}}</td>
        <td>{{#Index_ConditionalExampleLink path="conf"}}Master sheet{{/Index_ConditionalExampleLink}}</td>
        <td><a href="apps-src/conf/client/conf.html.txt">Template source</a></td>
      </tr>
      <tr>
        <td>HackQ</td>
        <td>{{#Index_ConditionalExampleLink path="005q/apps/005q"}}UI{{/Index_ConditionalExampleLink}}</td>
        <td>{{#Index_ConditionalExampleLink path="005q/views/1"}}View sheet{{/Index_ConditionalExampleLink}}</td>
        <td>{{#Index_ConditionalExampleLink path="005q"}}Master sheet{{/Index_ConditionalExampleLink}}</td>
        <td><a href="apps-src/005q/client/005q.html.txt">Template source</a></td>
      </tr>
      <tr>
        <td>Got Milk</td>
        <td>{{#Index_ConditionalExampleLink path="milk/apps/maid"}}UI{{/Index_ConditionalExampleLink}}</td>
        <td></td>
        <td>{{#Index_ConditionalExampleLink path="milk"}}Master sheet{{/Index_ConditionalExampleLink}}</td>
        <td><a href="apps-src/milk/client/milk.html.txt">Template source</a></td>
      </tr>
    </table>

    <p>
      To try defining your own formula on an object type,
      right-click the object name in the header and choose "<span class="ui">Add value column</span>" from the pop-up menu;
      then select the header of the new column (created with the default name "<span class="ui">value1</span>"),
      and check "<span class="ui">computed by formula</span>" in the action bar.
      Then enter an expression below.
    </p>

    <h2>Creating your own spreadsheet</h2>
    <p>
      Once you have a sense of how the spreadsheet works, you can start a new, empty spreadsheet by
      navigating to a URL of the following form:
    </p>

    <p>
      <span class="ui">{{absUrl '/'}}</span><input id="newSheetName" placeholder="sheet-name" type="text"> <button id="newSheetGo" disabled={{#unless newSheetName}}true{{/unless}}>Go</button>
    </p>

    <p>
      If you run your own server, you can add editability formulas, triggers, macros, and templates
      for your own application by following the layout of the existing example applications in <code>src/apps</code>.
    </p>

    <h2>Reference materials</h2>
    <ul>
      <li><a href="https://docs.google.com/presentation/d/1w0E3J1QdQ6PgjDhcAP0s3KfkRFxfz2oUzfAi1i4vkeo/pub?start=false&loop=false&delayms=3000">
        Developer UI structure</a></li>
      <li><a href="https://docs.google.com/document/d/1RXz99So_SNRJkubOCXuAWsxv5tTpJO1E99gRBBjQCPw/pub">
        Commands and formulas reference</a></li>
    </ul>

    <p>Have fun!</p>

    <p><i>~ The Espalier team (<a href="https://sdg.csail.mit.edu/projects/espalier/">project web site</a>; <a href="mailto:espalier@mit.edu">contact</a>)</i></p>
  </div>
</template>

<template name="Index_ConditionalExampleLink">
  {{#if shouldEnableExampleLinks}}
    {{! Avoid whitespace in the video caption.  A simple test suggests that
        Meteor trims whitespace at the start and end of a template but not
        anywhere else, but browsers also ignore whitespace in some places.
        Apply this workaround as cases come up. :(
        https://groups.google.com/d/topic/meteor-talk/i2m4QDkBG14/discussion
        ~ Matt 2017-03-20 }}
    <a href="/{{examplesNamePrefixWithDot}}{{path}}">{{> Template.contentBlock}}</a>{{! avoid whitespace
  }}{{else}}
    {{! Happens if the user manually clears the name box.}}
    {{> Template.contentBlock}}
  {{/if}}
</template>
