<head>
  <script src="/handsontable/handsontable.full.js"></script>
  <link rel="stylesheet" type="text/css" href="/handsontable/handsontable.full.css">
</head>
<body>
</body>

<template name="Spreadsheet">
  {{#unless printable}}
  <div id="ActionBar" class="{{actionBarClass}}">
    {{> actionBar}}
  </div>
  {{/unless}}
  <div id="ViewWrapper" class="{{actionBarClass}} {{selectionLockClass}}">
    <!-- Handsontable requires an inline overflow style for fixed rows/columns to work. -->
    <!-- (see WalkontableOverlay.prototype.getScrollableElement) -->
    <div id="View" style="overflow: auto"></div>
  </div>
</template>
